<!--<form action="/home/create" method="post">

  <h1>게시물 작성하기</h1>

  <fieldset>
    <legend><span class="number">1</span> 제목</legend>
    <input type="text" id="name" name="user_name">

   
  </fieldset>

  <fieldset>
    <legend><span class="number">2</span> 내용</legend>

    <textarea id="bio" rows="10" name="user_bio"></textarea>
  </fieldset>-->

  <!--<label for="job">Job Role</label>-->
  <!--<select id="job" name="user_job">-->
  <!--          <optgroup label="Web">-->
  <!--              <option value="frontend_developer">Front-End Developer</option>-->
  <!--              <option value="php_developer">PHP Developer</option>-->
  <!--              <option value="python_developer">Python Developer</option>-->
  <!--              <option value="rails_developer">Rails Developer</option>-->
  <!--              <option value="web_designer">Web Designer</option>-->
  <!--              <option value="wordpress_developer">Wordpress Developer</option>-->
  <!--          </optgroup>-->
  <!--          <optgroup label="Mobile">-->
  <!--              <option value="android_developer">Android Developer</option>-->
  <!--              <option value="ios_developer">iOS Developer</option>-->
  <!--              <option value="mobile_designer">Mobile Designer</option>-->
  <!--          </optgroup>-->
  <!--          <optgroup label="Business">-->
  <!--              <option value="business_owner">Business Owner</option>-->
  <!--              <option value="freelancer">Freelancer</option>-->
  <!--          </optgroup>-->
  <!--          </select>-->

  <!--<label>어떤 게시판?</label>-->
  <!--<input type="checkbox" id="development" value="interest_development" name="user_interest"><label class="light" for="development">공지사항</label><br>-->
  <!--<input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">자유게시판</label><br>-->
  <!--<input type="checkbox" id="business" value="interest_business" name="user_interest"><label class="light" for="business">질문하기</label>-->
  <hr>
  
  <button type="submit">작성하기</button>

</form>